<ul>
        <li><a href="/home"><i class="fas fa-home"></i> IslandStub Home</a></li>
        <li><a href="/admins/manageUsers"><i class="fas fa-users"></i> User Accounts Control</a></li>
        <li><a href="/admins/manageEvents"><i class="far fa-calendar-alt"></i> Events Control</a></li>
        <li><a href="/admins"><i class="fas fa-chart-bar"></i> Analytics</a></li>
    </ul>