<div>
    <ul>
        <li><a href="/home">Home</a></li>
        
      </ul>
</div>
<div>
  <ul>
    <li><a href="/creator">Create An Event</a></li>
    <li><a href="/privacy">Privacy Policy</a></li>
        <li><a href="/refund">Refund Policy</a></li>
        <li><a href="/terms">Terms and Conditions</a></li>
  </ul>
  
</div>
<div class="social-media-links">
  <h2>Find us here</h2>
  <ul>
    <li><a target="_blank" href="https://facebook.com/islandstub" title="Connect to our Facebook!"><i class="fab fa-facebook-square"></i> Facebook</a></li>
    <li><a target="_blank" href="https://www.instagram.com/islandstub" title="Connect to our Instagram!"><i class="fab fa-instagram"></i> Instagram</a></li>
    <li><a target="_blank" href="https://twitter.com/islandstub" title="Connect to our Twitter!"><i class="fab fa-twitter"></i> Twitter</a></li>
  </ul>
</div>
<div class="footer-closing">
  Copyright Island Stub&copy; Designed & Developed by&rightarrow; E.F.Solutions
</div>