<title>
  <%- pageTitle %>
</title>
<meta charset=utf-8>
<meta http-equiv=X-UA-Compatible content="IE=edge">
<meta name=viewport content="width=device-width,initial-scale=1">
<meta name="theme-color" content="#f5af1a">
<link rel="shortcut icon" href="/img/black-logo.png" type="image/x-icon">
<link rel="icon" href="/img/black-logo.png" type="image/x-icon">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Copse|Lobster|Roboto:400,300" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/calendarUi.css">
<link rel="stylesheet" type="text/css" href="/css/Components.css">
<link rel="stylesheet" type="text/css" href="/css/wsyJA.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/Components.js"></script>
<script src="/js/CalendarUI.js"></script>
<script src="/js/Utils.js"></script>
<script src="/js/auth.js"></script>
<script src="/js/wsygJA.js"></script>
<script src="/js/main.js"></script>