<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
    
    <script src="https://webrtc.github.io/adapter/adapter-latest.js" type="text/javascript"></script>
    <script src="https://cdn.rawgit.com/serratus/quaggaJS/0420d5e0/dist/quagga.min.js"></script>
</head>

<body>
  <!--HEADER CONTAINER-->
   <header>
    <% include ../partials/header %>
  </header>
  <!-- END HEADER CONTAINER-->

  <div class="banner-container">
    <div></div>
  </div>

  <!-- MAIN CONTAINER FOR BODY -->
  <div class="main-body-container">
    <div class="reset-container">
      <h2>Reset Password</h2>
        <div class="sub-reset">
            <input type="password" name="reset-password" placeholder="Enter your new password" id="reset-password" minlength="8">
            <input type="password" name="reset-password" placeholder="Confirm new password" id="reset-password2" minlength="8">
            <div class="btn btn-l" id="send-reset">Submit</div> 
        </div>
        
    </div>   
  </div>
  <!-- END OF BODY -->

  <!--FOOTER-->
  <footer>
      <% include ../partials/footer %>
  </footer>
  <script>
      $('#send-reset').on('click',function(){
          let pass1 = $('#reset-password').val().trim();
          let pass2 = $('#reset-password2').val().trim();
          if(pass1 != pass2){
            new Modal({}).openAlert({type:'error',text:'Passwords do not match, ensure that you have typed the desired password correctly'});
              return;
          }
          let data = {pass: $('#reset-password').val().trim(),rid:window.location.href.substring((window.location.href.lastIndexOf('/'))+1)};
          fetch('/api/resetpasswordconfirm',{
            body: JSON.stringify(data),
            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', // include, same-origin, *omit
            headers: {
            'user-agent': 'Mozilla/4.0',
            'content-type': 'application/json'
            },
        method: 'POST', // *GET, POST, PUT, DELETE, etc.
        mode: 'cors', // no-cors, cors, *same-origin
        redirect: 'error', // manual, *follow, error
        referrer: 'no-referrer', // *client, no-referrer
          }).then(resp=>resp.json())
          .then((resp)=>{
              console.log(resp);
            new Modal({}).openAlert({type:resp.status===405?'error':'success',text:resp.msg});
          }).catch((error)=>{
              console.log(error.message);
          });
      });
  </script>

  <!--END FOOTER-->
 </body>
</html>