<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>

<body>
  <!--HEADER CONTAINER-->
   <header>
      <% include ../partials/header %>
  </header>
  <!-- END HEADER CONTAINER-->

  <div class="banner-container">
    <div></div>
  </div>

  <!-- MAIN CONTAINER FOR BODY -->
  <div class="main-body-container">
    <div class="contact-container">
      <h2>Contact Us</h2>
      <ul>
        <li>Email <span>support@islandstub.ca</span></li>
      </ul>
      <ul>
        <li><span><input type="text" placeholder="Name"></span></li>
        <li><span><input type="text" placeholder="Email"></span></li>
        <li><span><input type="text" placeholder="Phone"></span></li>
        <li><span><input type="text" placeholder="Subject"></span></li>
        <li><span><textarea placeholder="Message"></textarea></span></li>
        <li><div class="btn btn-flex">Send</div>
      </ul>
     <div>
        
    </div>
    </div>   
  </div>
  <!-- END OF BODY -->

  <!--FOOTER-->
  <footer>
      <% include ../partials/footer %>
  </footer>
  <!--END FOOTER-->
</body>

</html>