<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>

</head>

<body>
  <!--HEADER CONTAINER-->
   <header>
    <% include ../partials/header %>
  </header>
  <!-- END HEADER CONTAINER-->

  <div class="banner-container">
    <div></div>
  </div>

  <!-- MAIN CONTAINER FOR BODY -->
  <div class="main-body-container">
    <div class="contact-container">
      <h2>Refund Policy</h2>
      <div class="about-us-data">
            <strong>Island Stub organizers set their own refund policies</strong> . Before requesting a refund, first check the
            event listing to see if the event organizer set a refund policy. To request a refund, send an email
            to the organizer (the organizer’s contact information will be included in the order confirmation
            email you received after purchasing). Your organizer should respond within 1 week and when
            issued, refunds can take up to 5 business days to show on your account (7 business days
            outside of Canada).
            <br>
            <i>
              Note: Refunds for online purchased are processed online and not in person. The processing fee
              is non-refundable.
            </i>
            <br>
            <br>
            <strong>Organizer Refund Policy</strong>
            <br>
            <i>Requirements</i>
            <br>
            1. Policies will vary depending on the type of event and the Organizer. As such, we provide
            flexibility for Organizers to post their own policies with respect to their events. Please
            note the following conditions must be met:
            <br>
            a. Refund policies must be posted on the event listing
            <br>
            b. “No Refund” policies are allowed but must be clearly posted
            <br>
            c. Must include instructions on how to obtain a refund, when and where to direct
            the request for refund.
            <br>
            d. A timeframe must be set for responses to requested refunds.
            <br>
            e. Refund polices cannot changed/altered once a purchase has been made for the
            event.
            <br>
            <br>
            <strong>No Insurance</strong>
            <br>
            1. The Organizer Refund Policy is not constructed with the intent of offering insurance of
            the organizer issuing refunds in any given situation.
        </div>
    </div>   
  </div>
  <!-- END OF BODY -->

  <!--FOOTER-->
  <footer>
      <% include ../partials/footer %>
  </footer>


  <!--END FOOTER-->
 </body>
</html>